.answer {
  height: 3rem;
  width: 70%;
  border: 2px solid red;
  border-radius: 15px;
  input.answer {
    background-color: yellow;
    text-align: center;
    font-size: 2.5rem;
    outline: none;
    color: black;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }

}