.score{
  position: absolute;
  right: 10px;
  top: 10px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: $mobile-width) {
  .score {
    position: relative;
    right: 0;
    top: 0;
    margin: 0 auto;
  }

}